* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  /* position sticky hold the app header nav bar */
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 5px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerImage {
  object-fit: contain;
  height: 50px;
}

/* modal styling sign up */
.app__signUp {
  display: flex;
  flex-direction: column;
}

/* app__header -- signup and signin styling */

/* posts */
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}
